table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: #c2afe4;

      th {
        padding: 10px;
        text-align: left;
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f2f2f2;
        }

        &:hover {
          background-color: #e9ecef;
        }

        th {
          padding: 10px;
          text-align: left;
          border-bottom: 1px solid #dddddd;
        }

        th:last-child {
          display: flex;
          flex-direction: column;
          gap: 5px;

          p {
            margin: 0;
          }

          a {
            color: #007bff;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }